<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">
<listeners>
    <listener class-name="com.example.selenium.ScreenshotListener"/>
</listeners>
    <test name="Test">
        <classes>
            <class name="com.example.selenium.TestSiteAutomation"/>
            <class name="com.example.selenium.TestAutomationLogin"/>
        </classes>
    </test>
</suite>